In [74]:
import pandas as pd

data = pd.read_csv("cc-est2019-alldata.csv")

In [75]:
data.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'YEAR', 'AGEGRP',
       'TOT_POP', 'TOT_MALE', 'TOT_FEMALE', 'WA_MALE', 'WA_FEMALE', 'BA_MALE',
       'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'NA_MALE',
       'NA_FEMALE', 'TOM_MALE', 'TOM_FEMALE', 'WAC_MALE', 'WAC_FEMALE',
       'BAC_MALE', 'BAC_FEMALE', 'IAC_MALE', 'IAC_FEMALE', 'AAC_MALE',
       'AAC_FEMALE', 'NAC_MALE', 'NAC_FEMALE', 'NH_MALE', 'NH_FEMALE',
       'NHWA_MALE', 'NHWA_FEMALE', 'NHBA_MALE', 'NHBA_FEMALE', 'NHIA_MALE',
       'NHIA_FEMALE', 'NHAA_MALE', 'NHAA_FEMALE', 'NHNA_MALE', 'NHNA_FEMALE',
       'NHTOM_MALE', 'NHTOM_FEMALE', 'NHWAC_MALE', 'NHWAC_FEMALE',
       'NHBAC_MALE', 'NHBAC_FEMALE', 'NHIAC_MALE', 'NHIAC_FEMALE',
       'NHAAC_MALE', 'NHAAC_FEMALE', 'NHNAC_MALE', 'NHNAC_FEMALE', 'H_MALE',
       'H_FEMALE', 'HWA_MALE', 'HWA_FEMALE', 'HBA_MALE', 'HBA_FEMALE',
       'HIA_MALE', 'HIA_FEMALE', 'HAA_MALE', 'HAA_FEMALE', 'HNA_MALE',
       'HNA_FEMALE', 'HTOM_MALE', 'HTOM_FEMALE', 'HWAC_MALE', 'HWAC_FEMALE',
       'HBAC_MALE', 'HBAC_FEMALE', 'HIAC_MALE', 'HIAC_FEMALE', 'HAAC_MALE',
       'HAAC_FEMALE', 'HNAC_MALE', 'HNAC_FEMALE'],
      dtype='object')

In [76]:
data_small = data[['STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'YEAR','AGEGRP','TOT_MALE','WA_MALE', 'WA_FEMALE']][data.YEAR ==1]

In [77]:
data_few_state = data_small[data_small.STNAME.isin(['Alabama','Arizona','Arkansas','California','Colorado','Connecticut','Virginia','Missouri'])]
data_few_state['White population'] = data_few_state['WA_MALE']+data_few_state['WA_FEMALE']
data_few_state

<ipython-input-77-90db93ecbc08>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_few_state['White population'] = data_few_state['WA_MALE']+data_few_state['WA_FEMALE']

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,WA_MALE,WA_FEMALE,White population
0,1,1,Alabama,Autauga County,1,0,26569,21295,22002,43297
1,1,1,Alabama,Autauga County,1,1,1866,1411,1316,2727
2,1,1,Alabama,Autauga County,1,2,2001,1521,1526,3047
3,1,1,Alabama,Autauga County,1,3,2171,1658,1620,3278
4,1,1,Alabama,Autauga County,1,4,2213,1628,1585,3213
...,...,...,...,...,...,...,...,...,...,...
673070,51,840,Virginia,Winchester city,1,14,438,395,481,876
673071,51,840,Virginia,Winchester city,1,15,351,302,401,703
673072,51,840,Virginia,Winchester city,1,16,297,276,390,666
673073,51,840,Virginia,Winchester city,1,17,243,229,368,597
673074,51,840,Virginia,Winchester city,1,18,165,150,369,519

In [78]:
data_few_state_aggregate = data_few_state.groupby(['STNAME','COUNTY','CTYNAME'])[['TOT_MALE','White population']].sum()

In [61]:
# data_few_state.iloc[:19]['White population'].sum()

In [79]:
data_few_state_aggregate

                                     TOT_MALE  White population
STNAME   COUNTY CTYNAME
Alabama  1      Autauga County          53138             86594
         3      Baldwin County         178392            319420
         5      Barbour County          29152             27974
         7      Bibb County             24602             35098
         9      Blount County           56724            110736
...                                       ...               ...
Virginia 800    Suffolk city            81176             89426
         810    Virginia Beach city    428882            608312
         820    Waynesboro city         20012             35730
         830    Williamsburg city       13250             21524
         840    Winchester city         25796             43258

[535 rows x 2 columns]

In [80]:
pd.DataFrame(data_few_state_aggregate).to_csv("data_few_state_aggregate.csv")

In [81]:
# data[data.CTYNAME == 'Shannon County'].groupby(['STNAME','COUNTY','CTYNAME'])[['TOT_MALE','White population']].sum()